.fbi-btn-container {
    a {
        margin: 1.5em 0 0;
        display: block;
    }

    @media screen and ( min-width: 481px ){
        a {
            display: inline-block;
            margin: 1.5em 1.5em 0;
        }
    }
}
