.fbi-expandable( @gutter: 1em, @overlay: rgba( 0, 0, 0, 0.3 )) {
    .expandable-image-content {
        display: none;
    }

    .js-expand {
        pointer-events: none;
    }

    .video-holder {
        padding-top: 56.4%;
        position: relative;

        video,
        > div {
            width: 100%;
            height: 100%;
            position: absolute;
            top: 0;
            left: 0;
        }

        video {
            object-fit: cover;
        }

        .vjs-big-play-button {
            background-image: url( '@@path/img/play.png' );
            background-repeat: no-repeat;
            height: 54px;
            width: 54px;
            background-color: transparent;
            border: 0;
            transform: translate( -50%, -50% );
            background-size: contain;
            margin: 0 0 0 0;
            transition: opacity 0.2;

            &:hover {
                .opacity( 0.8 );
            }

            &:before {
                display: none;
            }
        }

        .vjs-poster {
            background-position: center bottom;
            background-size: cover;
        }
    }

    @media screen and ( max-width: 767px ){
        z-index: 10;
        line-height: 0;
        margin-top: @gutter / 2;
        margin-bottom: @gutter / 2;

        .js-expand {
            pointer-events: initial;
        }

        .video-holder {
            margin-bottom: 0;

            .vjs-big-play-button {
                opacity: 0;
            }
        }

        .expandable-image {
            position: relative;
            cursor: pointer;
            margin-left: @gutter;
            margin-right: @gutter;
            padding: 0;

            img,
            video {
                margin-bottom: 0;
            }
        }

        .expandable-content {
            display: none;
            padding: @gutter;

            h3 {
                margin-bottom: 8px;
                margin-top: 8px;
            }
        }

        .expandable-image-content {
            position: absolute;
            top: 0;
            left: 0;
            height: 100%;
            width: 100%;
            display: block;
            z-index: 10;
            transition: opacity .2s;
            transition-delay: 0.175s;

            &:before {
                content: '';
                display: block;
                position: absolute;
                height: 100%;
                width: 100%;
                z-index: 10;
                background: @overlay;
                opacity: 1;
                transition: opacity 0.2s;
            }

            &:after {
                content: '';
                display: block;
                position: absolute;
                left: 50%;
                bottom: @gutter;
                width: 12px;
                height: 12px;
                border-right: 1px solid @white;
                border-bottom: 1px solid @white;
                transform: translate( -50%, 0 ) rotateZ( 45deg ) scale( 1, 1 );
                z-index: 15;
                transition: all .3s ease-out;
            }

            h3 {
                margin-bottom: 5px;
            }

            > div {
                line-height: 1.25;
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate( -50%, -50% );
                color: @white;
                width: 100%;
                padding: @gutter;
                text-align: center;
                z-index: 20;
                transition: opacity 0.15s;
            }

        }

        + .expandable-appendix {
            display: none;
        }

        &.fbi-expanded {
            .expandable-image {
                margin: 0;

                .expandable-image-content {
                    &:after {
                        transform: translate( -50%, 4px ) rotateZ( 45deg ) scale( -1 );
                    }

                    &:before {
                        opacity: 0;
                    }

                    > div {
                        opacity: 0;
                    }
                }
            }

            &.expandable-video {
                .video-holder {
                    .vjs-big-play-button {
                        opacity: 1;
                    }
                }

                .expandable-image-content {
                    pointer-events: none;

                    &:after {
                        opacity: 0;
                    }
                }
            }
        }
    }
    @media screen and ( min-width: 768px ){
        .expandable-content,
        + .expandable-appendix {
            display: block !important;
        }
    }
}
