.gallery-grid {
    .opacity( 0 );
    @gutter-width: 10px / 2;
    margin: 100px auto 0;
    max-width: 1600px;
    padding: 0 @gutter-width;
    position: relative;
    width: 100%;

    @media screen and ( max-width: 899px ) {
        margin-bottom: 50px;
    }

    .owl-carousel {
        display: block;
        .owl-stage-outer {
            height: 100%;
            overflow: hidden;
            width: 100%;
            .owl-stage {
                height: 100%;
                .owl-item {
                    float: left;
                    height: 100%;
                }
            }
        }
        .owl-controls {
            .owl-dots {
                padding-top: 15px;
                text-align: center;
                .owl-dot {
                    background: #D6D6D6;
                    border-radius: 50%;
                    display: inline-block;
                    height: 10px;
                    margin: 0 7px;
                    width: 10px;

                    &.active {
                        background: #212721;
                    }
                }
            }
        }
        .owl-prev,
        .owl-next {
            background-position: center center;
            border-bottom-width: 0;
            display: block;
            font-size: 0;
            height: 38px;
            margin-top: -19px;
            opacity: 0.8;
            position: absolute;
            top: 50%;
            width: 28px;
            &:hover {
                opacity: 1;
            }
        }
        .owl-prev {
            background-image: url( '@@path/img/grid-arrow-prev.png' );
            background-repeat: no-repeat;
            left: 10px;
        }
        .owl-next {
            background-image: url( '@@path/img/grid-arrow-next.png' );
            background-repeat: no-repeat;
            right: 10px;
        }
        .close-grid-slider {
            background-image: url( '@@path/img/grid-close.png' );
            background-repeat: no-repeat;
            border-bottom-width: 0;
            display: block;
            height: 27px;
            opacity: 0.6;
            position: absolute;
            right: 30px;
            top: 24px;
            width: 25px;
            z-index: 9999;
            &:hover {
                opacity: 0.8;
            }
        }
    }

    .gallery-slider {
        .opacity( 0 );
        height: auto;
        left: 0;
        padding-top: 48.75%;
        position: absolute;
        top: 0;
        width: 100%;
        z-index: 0;

        .owl-stage-outer {
            left: 0;
            position: absolute;
            top: 0;
        }

        @media screen and ( max-width: 899px ) {
            padding-top: 93.75%;
        }

        @media screen and ( max-width: 499px ) {
            display: none !important;
        }

        &.active {
            z-index: 10;
        }

        .large-image-wrapper {
            height: 100%;

            // img {
            //     left: 50% !important;
            //     min-width: 100%;
            //     top: 50% !important;
            //     transform: translateY( -50% ) translateX( -50% );
            // }

        }

        .grid-slider-container {
            // width: 100%;
            bottom: 7px;
            height: auto;
            left: 14px;
            padding-top: 0;
            position: absolute;
            right: 13px;
            top: 7px;
            width: auto !important;
        }
    }
    .gallery-grid-wrapper {
        padding-top: 48.75%;
        position: relative;

        // @media screen and ( max-width: 999px ){
        //     padding-top: 59.35%;
        // }
        @media screen and ( max-width: 899px ) {
            padding-top: 87.35%;
        }
        @media screen and ( max-width: 499px ) {
            padding-top: 174.35%;
        }

        .gallery-grid-inner {
            //width: 100%;
            bottom: 0;
            // left: -@gutter-width;
            position: absolute;
            // right: -@gutter-width;
            top: 0;
        }

        .owl-carousel {
            .owl-stage-outer {
                height: 100%;
            }
            .owl-stage {
                height: 100%;
            }
            .owl-item {
                height: 100%;
            }
            .owl-controls {
                .owl-dots {
                    padding-top: 10px;
                    text-align: center;
                    .owl-dot {
                        background: #D6D6D6;
                        border-radius: 50%;
                        display: inline-block;
                        height: 10px;
                        margin: 0 7px;
                        width: 10px;

                        &.active {
                            background: #212721;
                        }
                    }
                }
            }
        }

        .gallery-grid-col {
            float: left;
            height: 100%;
            width: 100%;
        }

        .gallery-item-holder {
            height: 33.33%;
            padding: @gutter-width;
            width: 100%;

            .gallery-item-holder-inner {
                height: 100%;
                overflow: hidden;
                position: relative;
                width: 100%;
            }

            a.gallery-item {
                border: 0;
                display: block;
                height: 100%;
                overflow: hidden;
                position: relative;
                width: 100%;

                &:hover {
                    .gallery-item-thumb {
                        .opacity( 1 );
                        transform: translate3d( -50%, -50%, 0 ) scale( 1.1 );
                    }
                }

                // &.fill {
                //     .gallery-item-thumb {
                //         width: 100%;
                //         height: auto;
                //         transform: translate3d( -50%, 0, 0 );
                //         top: auto;
                //         bottom: 0;
                //     }
                //     &:hover {
                //         .gallery-item-thumb {
                //             .opacity( 0.99 );
                //             transform: translate3d( -50%, 0, 0 ) scale( 1.1 );
                //
                //             @media screen and ( max-width: 499px ) {
                //                 transform: translate3d( -50%, 0, 0 ) !important;
                //             }
                //         }
                //     }
                // }
            }

            .gallery-item-thumb {
                .opacity( 0.99 );
                backface-visibility: hidden;
                background: #ffffff;
                height: 100%;
                left: 50%;
                max-width: none;
                position: absolute;
                top: 50%;
                transform: translate3d( -50%, -50%, 0 ) scale( 1.02 );
                transition: transform 0.75s cubic-bezier(0.290, 0.655, 0.380, 1.000);
                width: auto;
                background-size: cover;
                width: 100%;
            }

            &.tall {
                height: 66.67%;

                img {
                    height: 100%;
                    left: 50%;
                    max-width: none;
                    position: relative;
                    top: 50%;
                    transform: translate3d( -50%, -50%, 0 ) scale( 1.02 );
                    width: auto;
                }

                .gallery-item {

                }
            }
        }
    }
}
#fbi-content {
    .fbi-gallery-grid {
        .gallery-grid();
    }
}
