@import '../overrides.less';

#fbi-content {
    .fbi-volvo-button {
        .button-override();
        -webkit-appearance: none;
        background-color: @button-color;
        border-color: @button-color;
        border-style: solid;
        border-width: 1px;
        color: @button-font-color;
        cursor: pointer;
        display: inline-block;
        font-family: @font-family;
        font-size: 15px;
        font-weight: 300;
        line-height: 55px;
        outline: none;
        padding-left: 30px;
        padding-right: 30px;
        text-align: center;
        user-select: none;
        height: 55px;

        &:after {
            display: inline-block;
            font-family: 'fbi-volvo-icons', volvo-icons;
            content: "";
            transition: padding .3s ease, margin .3s ease, transform .3s ease;
            vertical-align: -.2em;
            padding-left: 10px;
        }

        &:hover {
            background-color: @button-hover-color;
            color: @button-hover-font-color;

            &:after {
                transform: translateX(4px);
            }
        }

        // Outlined button on light background
        // &.outlined {
        //     .backgroundRgba( 255, 255, 255, 0.2 );
        //     color: @new-gray;
        //     border-color: @new-gray;
        //
        //     &:hover {
        //         background-color: @new-gray;
        //         color: #ffffff;
        //     }
        // }

        // Button on dark background
        &.dark {
            background-color: #ffffff;
            color: @new-gray;
            border-color: #ffffff;

            &:hover {
                .backgroundRgba( 255, 255, 255, 0.2 );
                color: #ffffff;
            }
        }

        &.dark-outlined {
            .backgroundRgba( 255, 255, 255, 0.2 );
            border-color: #ffffff;
            color: #ffffff;

            &:hover {
                background-color: #ffffff;
                color: @new-gray;
            }
        }

        &.blue {
            background-color: #ffffff;
            border-color: @new-blue;
            color: @new-blue;

            &:hover {
                background-color: @new-blue;
                border-color: #003057;
                color: #ffffff;
            }
        }
    }
}

.fbi-btn {
    #fbi-content.fbi-volvo-button();
}

.fbi-volvo-button {
    .fbi-btn();
    #fbi-content.fbi-volvo-button.blue();
}

.fbi-volvo-button.dark-outlined {
    .fbi-btn();
    #fbi-content.fbi-volvo-button.dark-outlined();
}

.fbi-volvo-button.blue{
    .fbi-volvo-button();
}

.fbi-volvo-button.dark {
    .fbi-volvo-button.dark-outlined();
}

.fbi-volvo-button.dark.outlined {
    .fbi-volvo-button.dark-outlined();
}

.fbi-volvo-button.outlined {
    .fbi-volvo-button.blue();
}
