.fbi-backgroundblock( @url ) {
    .fbi-set-img( @url );
    background-color: #000000;
    background-position: center bottom;
    background-repeat: no-repeat;
    background-size: cover;
    color: #ffffff;
    display: table;
    max-width: 100%;
    min-height: 800px;
    text-align: center;
    width: 100%;

    .headline-wrapper,
    .image-content-wrapper {
        display: table-cell;
        height: 100%;
        vertical-align: middle;
        width: 100%;
    }

    h4 {
        font-size: 18px;
    }

    a {
        .fbi-volvo-button();
    }

    @media screen {

        @media ( max-width: 768px ) {
            min-height: 750px;
        }

        @media ( max-width: 480px ) {
            min-height: 550px;
        }
    }
}
