.fbi-block {
    margin-bottom: 0;
    margin-left: auto;
    margin-right: auto;
    margin-top: 0;
    max-width: 1100px;
    text-align: center;
    padding-top: 40px;
    padding-bottom: 40px;

    @media screen and ( min-width: 768px ){
        padding-bottom: 70px;
        padding-top: 70px;
    }
}
.fbi-block( @img-url ) {
    .fbi-block();
    .fbi-set-img( @img-url );
    background-size: cover;
    color: #ffffff;
    max-width: 100%;
}
