.fbi-imageblock() {
    position: relative;
    padding-top: 47%;

    .large-image-wrapper {
        position: absolute;
        height: 100%;
        top: 0;
        left: 0;
    }

    .image-mobile {
        display: none;
    }

    @media screen {
        @media ( max-width: 1080px ) {
            padding-top: 60%;
        }
        @media ( max-width: 960px ) {
            padding-top: 70%;
        }
        @media ( max-width: 840px ) {
            padding-top: 80%;
        }
        @media ( max-width: 767px ) {
            padding-top: 125%;

            .image-desktop {
                display: none;
            }
            .image-mobile {
                display: block;
            }
        }
    }

    &.image-contain {
        padding-top: 0;
        height: auto;

        .large-image-wrapper {
            position: relative;
            height: auto;
        }

        .large-image-wrapper {
            &:first-child {
                display: none;
            }
        }

        @media ( max-width: 767px ) {
            .large-image-wrapper {
                &:first-child {
                    display: block;

                    + .large-image-wrapper {
                        display: none;
                    }
                }
            }
        }
    }
}
