.fbi-column-row( @cols: 3, @overlay: rgba( 0, 0, 0, 0.3 )) {
    @gutter: 1.25em;

    max-width: 1250px + ( @gutter * 2 );
    margin-left: auto;
    margin-right: auto;
    display: block;
    justify-content: center;
    flex-wrap: wrap;
    position: relative;
    margin-bottom: 80px;

    > div {
        padding: @gutter;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    img,
    .video-holder {
        margin-bottom: 22px;
        margin-left: -@gutter;
        margin-right: -@gutter;
        width: calc( ~"100% +" @gutter * 2 );
        max-width: none;
    }

    h5 {
        margin-bottom: @gutter / 4;
    }

    .btn-container {
        text-align: center;
        margin-top: @gutter * 2;
    }

    @media screen and ( min-width: 768px ) {
        display: flex;

        > div {
            width: 100% / ceil( @cols / 2 );
        }

        h5 {
            text-align: center;
        }

        img,
        .video-holder {
            margin-left: auto;
            margin-right: auto;
            width: auto;
            max-width: 100%;
        }
    }

    @media screen and ( min-width: 1024px ) {
        > div {
            width: 100% / @cols;
        }
    }

    > div .expandable {
        .fbi-expandable( 1em, @overlay );

        .video-holder {
            padding-top: 66.666%;
            overflow: hidden;
        }

        @media screen and ( max-width: 767px ){
            margin-left: -@gutter;
            margin-right: -@gutter;
            margin-top: -( @gutter / 2 );
            margin-bottom: -( @gutter / 2 );

            img,
            .video-holder {
                margin-left: 0;
                margin-right: 0;
                width: 100%;
            }
        }
    }
}
