.fbi-car-block {
    margin-top: 6em;

    img {
        margin-bottom: 2em;
    }

    span {
        display: inline-block;
        width: 100%;

        &.fbi-car-name {
            font-weight: 600;
        }
    }

    .bdv {
        .fbi-volvo-button.blue();
        margin-top: 2em;
    }
}
