.fbi-volvo-hero-module() {
    background-color: #000000;
    color: #ffffff;
    position: relative;
    text-align: center;
    padding-top: 47%;

    .large-image-wrapper {
        position: absolute;
        height: 100%;
        top: 0;
        left: 0;
    }

    .headline-wrapper {
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        z-index: 20;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    a {
        .fbi-volvo-button();
    }

    @media screen {
        @media ( max-width: 1080px ) {
            padding-top: 60%;
        }
        @media ( max-width: 960px ) {
            padding-top: 70%;
        }
        @media ( max-width: 840px ) {
            padding-top: 80%;
        }
        @media ( max-width: 767px ) {
            padding-top: 125%;

            h3 {
                margin-bottom: 4px;
            }

            .image-desktop {
                display: none;
            }
            .image-mobile {
                display: block;
            }
        }
    }
}
