<div id="fbi-content">
	<!--<div class="fbi-headerblock"></div>-->

	<div class="video-wrapper">
		<iframe
			width="1680"
			height="945"
			src="https://www.youtube.com/embed/mSbHe0L65Uw?modestbranding=1&amp;autoplay=1&amp;controls=0&amp;fs=0&amp;loop=1&amp;rel=0&amp;showinfo=0&amp;disablekb=1&amp;playlist=mSbHe0L65Uw"
			frameborder="0">
		</iframe>
		<img src="@@path/img/tophero_mobile.jpg" alt="Sälen- Erbjudanden för hela familjen" class="hero-mobile" />
		<div class="scroll-down-icon">
			<a id="erbjudanden" href="#">
				<img src="@@path/img/scroll-down-white.png" alt="Scroll down" style="">
			</a>
		</div>
	</div>

	<a href="#" target="_blank" class="show-for-small-only input-button">Ladda kostnadsfritt ner Carpay</a>


	<div class="fbi-content-inner">

		<div class="intro">

			<div class="intro-ingress">
				<h1 class="title">Erbjudanden <br>för hela familjen</h1>
				<div class="text">
					I Sälen finns det massor av kul aktiviteter som gör
					familjens skidresa till något alldeles extra. Med Volvokort och
					appen CarPay får du mängder av erbjudanden och rabatter till dessa nöjen.
					Visa bara upp appen och ta del av alla förmåner.
				</div>
			</div>

			<div class="intro-img-block">
				<img src="@@path/img/offer_top.jpg" />
				<h4 class="word -subheader">EN VÄRLD AV UPPLEVELSER</h4>
				<h1 class="title">SkiStar Lodge Experium Bad & Spa</h1>
				<p>
					<span class="highlight">10 % rabatt</span>
					på familjeentré – 2 vuxna och 2 barn under 18 år.
					Med giltiga SkiPass erhåller ni ytterligare 20% i rabatt.
					<br>
					<span class="highlight">Surfa i fjällen:</span>
					15 % rabatt på Experium FlowRider®
				</p>
				<a href="https://www.skistar.com/sv/Salen/Experium-Ski-Lodge/" target="_blank" class="globe-button">
					<span class="word">Läs vidare på skistar</span>
					<span class="header">Experium Bad &amp; Spa</span>
				</a>
			</div>

		</div>

		<div class="block-wrapper">

			<div class="block-item">
				<div class="image">
					<img src="@@path/img/valles.jpg" />
				</div>

				<div class="text">
					<h4 class="word -subheader">Glada barn &amp; nöjda föräldrar</h4>
					<h1 class="title">Valles Världshus</h1>
					<div class="pad-text">
						<p>
							<span class="highlight">15 % rabatt på Valles Middagsshow</span>
							med Tex Mex för hela familjen. En härlig mix av sång och dans där alla barn bjuds in att bli en del av showen.
						</p>
					</div>
					<a href="https://www.skistar.com/sv/Salen/Experium-Ski-Lodge/Mat-Noje/Restauranger/Valles-Varldshus/" target="_blank" class="globe-button">
						<span class="word">Läs vidare på skistar</span>
						<span class="header">Valles Världshus</span>
					</a>
				</div>
			</div>

			<div class="block-item">
				<div class="image">
					<img src="@@path/img/hundspann.jpg" />
				</div>

				<div class="text">
					<h4 class="word -subheader">Kom närmare naturen</h4>
					<h1 class="title">Hundspann</h1>
					<div class="pad-text">
						<p>
							<span class="highlight">20 % rabatt.</span>
							Boka på fjallaventyr.com och ange kod: CarPay2018.
							(Gäller ej jul- och nyårshelgen eller ihop med andra erbjudanden).
							<br>
							Läs mer på fjallaventyr.com.
						</p>
					</div>
					<a href="http://www.fjallaventyr.com/" target="_blank" class="globe-button">
						<span class="word">Boka på</span>
						<span class="header">Fjallaventyr</span>
					</a>
				</div>
			</div>

			<div class="block-item">
				<div class="image">
					<img src="@@path/img/bistro_cafe.jpg" />
				</div>

				<div class="text">
					<h4 class="word -subheader">Ät gott &amp; betala mindre</h4>
					<h1 class="title">61° Nord Bistro & cafe</h1>
					<div class="pad-text">
						<p>
							<span class="highlight">30 % rabatt</span>
							på lunch kl. 11.00-15.00 på 61° Nord Bistro &amp;
							café på Sälfjällstorget. Gäller endast vid betalning med
							Volvokort och när du visar upp CarPay-appen.
						</p>
					</div>
				</div>
			</div>

			<div class="block-item">
				<div class="image">
					<img src="@@path/img/skidskola.jpg" />
				</div>

				<div class="text">
					<h4 class="word -subheader">Tyngden på dalskidan</h4>
					<h1 class="title">Skidskola</h1>
					<div class="pad-text">
						<p>
							<span class="highlight">Gå 2 – betala för 1.</span>
							Låt SkiStars duktiga skidinstruktörer lära er svänga rätt.
							Bokas på skistar.com. Ange kod:VOLVOPRIVAT-2018.
							Går även att boka på plats. Gäller endast privatlektioner.
						</p>
					</div>
				</div>
			</div>

			<div class="block-item">
				<div class="image">
					<img src="@@path/img/skotersafari.jpg" />
				</div>

				<div class="text">
					<h4 class="word -subheader">Upplev ett äkta fjälläventyr</h4>
					<h1 class="title">Skotersafari</h1>
					<div class="pad-text">
						<p>
							<span class="highlight">20 % rabatt</span>
							på 2 timmars skotersafari samt badentré till
							Poolariet i Hundfjället och Tandådalen
							(gäller ej jul och nyår eller med andra erbjudanden).
						</p>
					</div>
					<a href="https://salenaktiviteter.se/om/" target="_blank" class="globe-button">
						<span class="word">Läs mer på</span>
						<span class="header">Sälenaktiviteter (ej bokningsbart online)</span>
					</a>
				</div>
			</div>

			<div class="block-item">
				<div class="image">
					<img src="@@path/img/skistarshop.jpg" />
				</div>

				<div class="text">
					<h4 class="word -subheader">Bättre glid i backen</h4>
					<h1 class="title">SkiStarshop</h1>
					<div class="pad-text">
						<p>
							<span class="highlight">Uppgradera din hyrutrustning</span>
							till nästa nivå utan extra kostnad. Gäller på SkiStarshop på
							Sälfjällstorget eller i Tandådalen.
						</p>
					</div>
				</div>
			</div>

			<div class="block-item">
				<div class="image">
					<img src="@@path/img/skistarshop_rabatt.jpg" />
				</div>

				<div class="text">
					<h4 class="word -subheader">Ny utrustning till bättre pris</h4>
					<h1 class="title">SkiStarshop.com</h1>
					<div class="pad-text">
						<p>
							<span class="highlight">10 % rabatt</span>
							på ett köp på skistarshop.com – ange kod: VolvoCarpay1718
							(gäller endast köp online).
						</p>
					</div>
					<a href="https://www.skistar.com/sv/shop/" target="_blank" class="globe-button">
						<span class="word">Handla direkt på</span>
						<span class="header">Skistarshop</span>
					</a>
				</div>
			</div>

			<div class="block-item">
				<div class="image">
					<img src="@@path/img/nordic_adventure.jpg" />
				</div>

				<div class="text">
					<h4 class="word -subheader">Mer äventyr för pengarna</h4>
					<h1 class="title">Nordic Adventure</h1>
					<div class="pad-text">
						<p>
							<span class="highlight">20 % rabatt</span>
							på hela sortimentet på Nordic Adventure. Vid beställning på
							nordicadventure.com – ange kod: CarPay2018.
						</p>
					</div>
					<a href="http://nordicadventure.com/" target="_blank" class="globe-button">
						<span class="word">Handla direkt på</span>
						<span class="header">Nordic Adventure</span>
					</a>
				</div>
			</div>

		</div>

		<div class="bottom-wrapper">
			<div class="app-section">
				<h4 class="-subheader -bold hide-small">Du har väl laddat ner appen carpay?
					<ul class="button-list hide-small">
						<li>
							<a id="gtm-appstore-ios-top" href="https://itunes.apple.com/se/app/carpay/id1063224472" target="_blank" class="image-button gtm-appstore-ios">
								<img src="@@path/img/appstore-link.png" alt="Ladda ner på App Store">
							</a>
						</li>
						<li>
							<a id="gtm-appstore-google-top" href="https://play.google.com/store/apps/details?id=se.volvofinans.carpay" target="_blank" class="image-button gtm-appstore-google">
								<img src="@@path/img/play-link.png"alt="Ladda ner på Google Play">
							</a>
						</li>
					</ul>
				</h4>
			</div>
			<div class="image">
				<img src="@@path/img/volvokort_carpay.png" />
			</div>
			<div class="disclaimer">
				<p>
					Erbjudandena gäller mot uppvisande av CarPay alt.
					kampanjkod över vintersäsongen 2017/18 fr.o.m. säsongsstart t.o.m.
					säsongsslut och kan inte kombineras med andra erbjudanden eller rabatter.
				</p>
			</div>
		</div>

	</div>
</div>
