.button-override() {
    // Important needed on items that are a's because of default transition value
    transition: color 0.1s linear, background-color 0.1s linear !important;
}
#fbi-content {
    .volvo-button {
        &a {
            .button-override();
        }
    }
}
