@import 'mixins.less';
@import 'volvo.config.less';
@import 'modules.less';
//@import 'volvo.less';

// Keep this block

body {
    height: 100%;
    margin: 0;
    padding: 0;
    font-size: 100%;
    font-family: "Volvo Pro Sans","Helvetica Neue",Helvetica,Roboto,Arial,sans-serif;
    font-weight: normal;
    color: #1A1F20;
    -webkit-font-smoothing: antialiased;
    -webkit-tap-highlight-color: transparent;
}

a {
    text-decoration: none;
    &:after {
        display: none !important;
    }
}
ul {
    list-style: none;
}

.highlight {
    font-weight: 400;
}

.globe-button {
    display: inline-block;
    position: relative;
    font-size: 1.15em;
    line-height: normal;
    letter-spacing: .0625em;
    color: inherit;
    padding-left: 3em;
    text-align: left;
    .word {
        display: block;
        color: #01BBDE;
        font-size: .6em;
        font-weight: bold;
        text-transform: uppercase;
        letter-spacing: .1875em;
        margin-bottom: 0.5em;
    }
    .header {
        color: #1A1F20;
        display: block;
    }
    &:before {
        background-image: url('@@path/img/globe.png');
        content: '';
        display: inline-block;
        font-size: 1rem;
        margin-right: 1em;
        position: absolute;
        top: 5px;
        left: 0;
        width: 37px;
        height: 36px;
    }
}

#fbi-content {
    height: 100%;
    margin: 0;
    padding: 0;
    font-size: 100%;
    font-family: "Volvo Pro Sans","Helvetica Neue",Helvetica,Roboto,Arial,sans-serif !important;
    font-weight: normal;
    color: #1A1F20;
    -webkit-font-smoothing: antialiased;
    -webkit-tap-highlight-color: transparent;
    a {
        //.fbi-link();
    }

    .fbi-headerblock {
    	.fbi-volvo-hero-module();
    }
    h1,h2,h3,h4,h5,h6 {font-family: "Volvo Pro Sans","Helvetica Neue",Helvetica,Roboto,Arial,sans-serif !important;}
    h1 {
        margin-bottom: 0.5rem;
        margin-top: 0px;
    }
    h4 {
        font-size: 1.125em;
        margin-bottom: 0;
    }

    h1.-subheader, h2.-subheader, h3.-subheader, h4.-subheader, h5.-subheader, h6.-subheader {
        font-weight: 500;
        text-transform: uppercase;
        letter-spacing: .1875em;
    }

    p {
        margin-bottom: 1rem;
        font-size: inherit;
        line-height: 1.6;
        text-rendering: optimizeLegibility;
    }

    .video-wrapper {
        position: relative;
        padding-top: 0;
        padding-bottom: 46.84%;
        @media screen and ( max-width: 768px ) {
            padding-bottom: 0;
        }
        iframe {
            position: absolute;
            top: 0;
            bottom: 0;
            left: 0;
            right: 0;
            width: 100%;
            height: 100%;
            @media screen and ( max-width: 768px ) {
                display: none;
            }
        }

        .hero-mobile {
            width: 100%;
            display: block;
            @media screen and ( min-width: 769px ) {
                display: none;
            }
        }

        .scroll-down-icon {
            position: absolute;
            right: 0;
            left: 0;
            bottom: 20px;
            text-align: center;

            img {
                opacity: 1;
                &:hover {
                    cursor: pointer;
                    opacity: 0.5;
                }
            }
        }
    }

    .input-button {
        font-size: .8125em;
        line-height: 1.07692em;
        letter-spacing: .09em;
        text-transform: uppercase;
        padding-top: 1.46154em;
        padding-bottom: 1.30769em;
        background: #01BBDE;
        border-radius: .3125rem;
        text-align: center;
        color: #fff;
        display: none;
        overflow: hidden;
        position: relative;
        font-weight: 500;
        transition: opacity .3s ease;

        position: fixed;
        bottom: 0;
        left: 0;
        width: 100%;
        border-radius: 0;

        &:before {
            content: '';
            width: 20px;
            height: 20px;
            vertical-align: middle;
            margin-right: 1em;
            display: inline-block;
            background-image: url(./img/iPhone.svg);
            background-size: 100% 100%;
            background-repeat: no-repeat;
        }
        @media screen and ( max-width: 768px ) {
            display: inline-block;
        }
    }

    .fbi-content-inner {
        background-image: url('@@path/img/salen_botten_bg.jpg');
        background-position: center bottom;
        background-repeat: no-repeat;
        background-size: 100% auto;
        overflow: hidden;
        @media screen and ( max-width: 768px ) {
            background-image: url('@@path/img/salen_botten_bg_mobile.jpg');
        }
        .intro {
            padding: 2.5em 2em 2.5em;
            margin-top: 2em;
            margin-bottom: 5em;
            max-width: 75.9375em;
            text-align: center;
            margin-left: auto;
            margin-right: auto;

            @media screen and ( max-width: 768px ) {
                padding: 0px;
                margin-bottom: 2.5em;
            }

            .intro-ingress {
                margin: 0 auto;
                max-width: 44.375em;
                padding: 1em 2em 2.5em;
                @media screen and ( max-width: 768px ) {
                    padding: 0.625em;
                }

                .title {
                    font-size: 3.5em;
                    line-height: 1.125em;
                    font-weight: 400;

                    @media screen and ( max-width: 768px ) {
                        font-size: 2.875em;
                    }
                    @media screen and ( max-width: 480px ) {
                        font-size: 32px;
                    }
                }
                .text {
                    padding: .625em 0;
                    font-size: 1.125em;
                    line-height: 1.5em;
                    @media screen and ( max-width: 768px ) {
                        font-size: 15px;
                    }
                }
            }
            .intro-img-block {
                margin-top: 2em;
                padding-top: 2.5em;
                @media screen and ( max-width: 768px ) {
                    padding-top: 0;
                    margin-top: 1em;
                }
                h4 {
                    color: #01BBDE;
                    padding: 1.25em 0;
                    padding-top: 3em;
                    @media screen and ( max-width: 768px ) {
                        font-size: 0.85em;
                        padding-top: 15px;
                    }
                }
                h1 {
                    font-size: 2.25em;
                    line-height: 1.25em;
                    font-weight: 300;
                    padding: 0 1.25em;
                    @media screen and ( max-width: 768px ) {
                        font-size: 34px;
                    }
                }
                img {
                    width: 100%;
                }
                p {
                    max-width: 32.375em;
                    padding: 1.25em 3.5em;
                    margin: 0 auto;
                    font-size: 1.125em;
                    line-height: 1.5em;
                    font-weight: 300;
                    @media screen and ( max-width: 768px ) {
                        padding: 1.25em;
                    }
                }
            }
        }

        .block-wrapper {
            max-width: 79.9375em;
            margin: 0 auto;
            padding: 0 2em;
            @media screen and ( max-width: 768px ) {
                padding: 0;
            }

            .block-item {
                display: flex;
                justify-content: space-between;
                flex-wrap: wrap;
                border: 0;
                margin-bottom: 5em;
                @media screen and ( max-width: 768px ) {
                    margin-bottom: 1.25em;
                }

                &:nth-child(odd) {
                    .image {
                        padding-right: 30px;
                        order: 1;
                        @media screen and ( max-width: 768px ) {
                            order: 1;
                        }
                    }
                    .text {
                        padding-right: 30px;
                        order: 2;
                        @media screen and ( max-width: 768px ) {
                            order: 2;
                        }
                    }
                }
                &:nth-child(even) {
                    .image {
                        padding-right: 30px;
                        order: 2;
                        @media screen and ( max-width: 768px ) {
                            order: 1;
                        }
                    }
                    .text {
                        padding-right: 30px;
                        order: 1;
                        @media screen and ( max-width: 768px ) {
                            order: 2;
                        }
                    }
                }

                .image {
                    width: 50%;
                    display: inline-block;
                    box-sizing: border-box;
                    vertical-align: top;
                    @media screen and ( max-width: 768px ) {
                        width: 100%;
                        padding: 0px !important;
                    }
                    img {
                        width: 100%;
                        height: auto;
                    }
                }
                .text {
                    width: 50%;
                    display: inline-block;
                    box-sizing: border-box;
                    vertical-align: top;
                    padding-left: 30px;
                    order: 2;

                    h4 {
                        color: #01BBDE;
                        padding: 1.25em 0;
                    }
                    .title {
                        font-weight: 300;
                        padding: 0 0 .625em;
                        font-size: 3.75em;
                    }
                    .pad-text {
                        padding: 0 0 1.25em;
                        p {
                            margin-top: 0px;
                            font-weight: 300;
                            span {
                                font-weight: 400;
                            }
                        }
                    }
                    @media screen and ( max-width: 768px ) {
                        padding: 1em 1.25em 1.625em;
                        padding-top: 0px;
                        width: 100%;

                        h4 {
                            font-size: 0.85em;
                            padding-top: 30px;
                            padding-bottom: 15px;
                            margin: 0px;
                        }

                        .title {
                            font-size: 2.5em;
                            padding: 0;
                        }
                    }
                }
            }
        }

        .bottom-wrapper {

            @media screen and ( max-width: 768px ) {
                display: flex;
                flex-wrap: wrap;
            }

            .app-section {
                display: block;
                text-align: center;
                @media screen and ( max-width: 768px ) {
                    display: none;
                }

                h4 {
                    ul {
                        margin-top: 2em;
                        font-size: 1em;
                        padding: 0px;
                        li {
                            font-size: 1rem;
                            margin: 0 0.5em 1em;
                            display: inline-block;
                        }
                    }
                }
            }
            .image {
                text-align: center;
                padding: 50px 0 80px;
                @media screen and ( max-width: 768px ) {
                    order: 2;
                }
                img {
                    max-width: 100%;
                    @media screen and ( max-width: 768px ) {
                        max-width: 48%;
                    }
                }
            }
        }

        .disclaimer {
            @media screen and ( max-width: 768px ) {
                margin-bottom: 20px;
                order: 1;
            }
            p {
                font-size: 12px;
                font-weight: 300;
                text-align: center;
                max-width: 790px;
                margin: auto;
                padding: 0 20px 50px 20px;
                @media screen and ( max-width: 768px ) {
                    padding-bottom: 0px;
                }
            }
        }

    }

}


@import 'style.1266.less';
@import 'style.768.less';
@import 'style.480.less';
@import 'overrides.less';
