@font-face {
    font-family: 'Volvo Pro Sans';
    font-style: normal;
    font-weight: normal;
    src: url('@@path/fonts/volvosanspro/regular.woff')
        url('@@path/fonts/volvosanspro/regular.woff2'),
        url('@@path/fonts/volvosanspro/regular.eot'),
        url('@@path/fonts/volvosanspro/regular.ttf');

}
