// @media screen and( max-width: 768px ) {
//     #fbi-content {
//         font-size: 18px;
//         line-height: 1.33333;
//
//         h1 {
//             font-size: 70px;
//             line-height: 1;
//         }
//
//         h2 {
//             font-size: 40px;
//             line-height: 1.2;
//             margin-bottom: 17px;
//         }
//
//         h3 {
//             font-size: 16px;
//             line-height: 1.25;
//             margin-bottom: 24px;
//         }
//
//         .block-text {
//             max-width: 608px;
//             padding-left: 40px;
//             padding-right: 40px;
//             width: 100%;
//
//             p {
//                 margin-left: auto;
//                 margin-right: auto;
//                 max-width: 608px;
//             }
//         }
//
//         .navigationlist {
//             display: none;
//         }
//     }
// }
